* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body, html {
    font-family: 'Fira Sans', sans-serif;
    color: #5a5a5a;
}

/** general **/
body > * {
    margin: 5px;
}
a {
    text-decoration: none;
    color: #5a5a5a;
}
ul {
    list-style: none;
}

p {
    margin-top: 10px;
}

/** site-header **/
body > header {
    margin: 0 auto;
    text-align: center;
}

body > header > h1 {

}

body > header > p {
    font-weight: lighter;
}

/** navbar **/
body > nav > ul > li > a {
    display: block;
    line-height: 20px;
    padding: 10px;
}

/** pages **/
body > main {
    display: block;
    position: relative;
    height: auto;
}

body > main > section.page {
    opacity: 0;
    height: 0;
    display: none;
}

body > main > section.page.active {
    display:block;
    transition-delay: 1s;
    opacity: 1;
    height: auto;
    width: 100%;
}

.page h2, .page h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body > footer {
    border-top: 1px solid gray;
    padding: 20px;
}

@media screen and (min-width: 720px) {
    
}

@media screen and (min-width: 960px) {
    
}