* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body, html {
    font-family: 'Fira Sans', sans-serif;
    color: #5a5a5a;
}

/** general **/
body > * {
}
a {
    text-decoration: none;
    color: #5a5a5a;
}
ul {
    list-style: none;
}

p {
    margin-top: 10px;
}

/** site-header **/
body > header {
    margin: 0 auto;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
}

body > header > h1 {

}

body > header > p {
    font-weight: lighter;
}

/** navbar **/
body > nav > ul{
   width: 200px;
   position: fixed;
   left: -220px;
   /*background: gainsboro;*/
   z-index: 23;
   top: 0;
   height: 100vh;
   /*box-shadow: 3px 0px 5px gray;*/
}

body > * {
    margin: 1.6%;
}
body > nav ul.active {
    left: 0;
    margin: 0;
    background: gainsboro;
    box-shadow: 3px 0px 10px gray;
}


body > nav > h2 {
    margin-left: 10px;
    padding-top : 10px;
}

body > nav > ul {
    padding-top: 40px;
}

body > nav > ul > li > a {
    display: block;
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid gray;
}

body > nav > ul > li:first-child > a {
    border-top: 1px solid gray
}

.tg-menu-button {
    position: absolute;
    line-height: 22px;
    width: 35px;
    height: 35px;
    top: 20px;
    left: 10px;
    font-size: 20pt;
    opacity: 1;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    padding-top: 7px;
}

body > nav.active .tg-menu-button {
   opacity: 0;
}
/** pages **/
body > main {
    display: block;
    position: relative;
    height: auto;
}

body > main > section.page {
    opacity: 0;
    height: 0;
    display: none;
}

body > main > section.page.active {
    display:block;
    transition-delay: 1s;
    opacity: 1;
    height: auto;
    width: 100%;
}

.page h2, .page h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body > footer {
    border-top: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 720px) {
    body > header {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 0px;
    }
    body > nav {
        display: block;
        width: 100%;
        position: static;
        background: transparent;
        box-shadow: none;
        height: 3em;
    }
    
    body > nav > ul {
        padding-top: 0;
        display: block;
        position: static;
        width: 100%;
    }

    body > nav > ul > h2 {
        display: inline-block;
    }
    /*body > nav > h2,
    body > nav > ul {
        display: inline-block;
        line-height: 20px;
        padding-left: 1.6%;
    }
    */

    body > nav > ul > li {
        display: inline-block;
    }
   
    body > nav > ul > li > a {
        border: none;
    }
    body > nav > ul > li > a.active {
        border-bottom: 2px solid gray;
    }
    main {
        margin-top: 20px;
        padding-left: 1.6%;
    }
    .tg-menu-button {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    
}
